<section class="clients" id="clients">
    <p class="clients__label">TRUSTED BY ARTISTS AND LABELS</p>
    <div class="clients__track">
        <div class="clients__slide">
            <span class="clients__logo">NETTSPEND</span>
            <span class="clients__logo">ASSPIZZA</span>
            <span class="clients__logo">CHRIS HEYN JR.</span>
            <span class="clients__logo">WELCOME J.PEG</span>
        </div>
        <div class="clients__slide" aria-hidden="true">
            <span class="clients__logo">NETTSPEND</span>
            <span class="clients__logo">ASSPIZZA</span>
            <span class="clients__logo">CHRIS HEYN JR.</span>
            <span class="clients__logo">WELCOME J.PEG</span>
        </div>
    </div>
</section>
