<section class="clients" id="clients">
    <p class="clients__label">TRUSTED BY ARTISTS AND LABELS</p>
    <div class="clients__track">
        <div class="clients__slide">
            <span class="clients__logo">ARTIST 1</span>
            <span class="clients__logo">LABEL A</span>
            <span class="clients__logo">ARTIST 2</span>
            <span class="clients__logo">LABEL B</span>
            <span class="clients__logo">ARTIST 3</span>
            <span class="clients__logo">LABEL C</span>
            <span class="clients__logo">ARTIST 4</span>
            <span class="clients__logo">LABEL D</span>
        </div>
        <div class="clients__slide" aria-hidden="true">
            <span class="clients__logo">ARTIST 1</span>
            <span class="clients__logo">LABEL A</span>
            <span class="clients__logo">ARTIST 2</span>
            <span class="clients__logo">LABEL B</span>
            <span class="clients__logo">ARTIST 3</span>
            <span class="clients__logo">LABEL C</span>
            <span class="clients__logo">ARTIST 4</span>
            <span class="clients__logo">LABEL D</span>
        </div>
    </div>
</section>
