<section class="number" id="stats">
    <div class="number__inner">
        <div class="number__stat">
            <span class="number__value" data-target="500" data-suffix="M+">0</span>
            <span class="number__label">VIEWS</span>
        </div>
        <div class="number__divider"></div>
        <div class="number__stat">
            <span class="number__value" data-target="1860" data-suffix="">0</span>
            <span class="number__label">CLIPS / MONTH</span>
        </div>
        <div class="number__divider"></div>
        <div class="number__stat">
            <span class="number__value" data-target="30" data-suffix="">0</span>
            <span class="number__label">ACCOUNTS</span>
        </div>
    </div>
</section>
